@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --page-green: #65c7b7;
  --dark-gray: #575656;
  --subtitle-gray: #817f7f;
  --border-gray: #dfdbdb;
  --light-gray: #faf6f6;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 4rem auto auto auto;
  grid-template-areas:
    "welcome"
    "header"
    "mobile-nav"
    "main"
    "footer";
  height: 100%;
}

main {
  grid-area: main;
}

/* WELCOME VIEW */
#welcome {
  grid-area: welcome;
  display: flex;
  flex-direction: column;
  background: url("./images/home-bg.jpg") center/cover no-repeat border-box;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
  transition: background 1s ease-out;
}

#welcome h1 {
  color: white;
  display: block;
  text-align: center;
  margin: 0;
  margin-top: 3rem;
  padding: 1rem;
  font-size: 2rem;
}

#welcome p {
  color: white;
  display: block;
  text-align: center;
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

button {
  font-family: "PT Sans", sans-serif;
}

.welcome-buttons {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin: 3rem 0;
}

.learn-button {
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  color: white;
  padding: 1rem 2rem;
  border: solid white 2px;
  border-radius: 3px;
}

.learn-button:hover,
.learn-button:active {
  color: var(--page-green);
  background-color: white;
}

.contact-button {
  display: none;
}

.contact-button:hover,
.contact-button:active {
  background-color: white;
  border: solid white 2px;
  color: var(--page-green);
}

/* Tablet View */
@media (min-width: 577px) {
  #welcome h1 {
    margin-top: 5rem;
    font-size: 2rem;
  }

  #welcome p {
    padding: 0 5rem;
    font-size: 1rem;
  }

  .learn-button {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 0 0.5rem;
  }

  .contact-button {
    display: flex;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background: var(--page-green);
    color: white;
    padding: 0.5rem 2rem;
    border: solid var(--page-green) 2px;
    border-radius: 3px;
    margin: 0 0.5rem;
  }
}

/* Desktop View */
@media (min-width: 769px) {
  #welcome {
    height: 100vh;
  }

  #welcome h1 {
    font-size: 4rem;
    margin: 0;
  }

  #welcome p {
    font-size: 1.5rem;
    padding: 1rem;
    min-width: auto;
    max-width: 60rem;
  }

  .learn-button {
    padding: 1rem 4rem;
    border: solid white 4px;
    margin-top: 2rem;
  }

  .contact-button {
    padding: 1rem 4rem;
    border: solid var(--page-green);
    border-radius: 4px;
    margin-top: 2rem;
  }
}

/* HEADER - NAV BAR */
.main-header {
  grid-area: header;
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 2px 2px 2px 2px var(--light-gray);
  z-index: 60;
}

.talos-button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
  color: var(--dark-gray);
}

.talos-button:hover,
.talos-button:active {
  color: var(--page-green);
}

.burguer-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  width: 2.5rem;
  margin-left: auto;
  margin-right: 1rem;
}

.burguer-button__bar {
  width: 100%;
  height: 2px;
  background: var(--page-green);
  display: block;
  margin: 0.4rem 0;
}

.main-nav a,
.mobile-nav a {
  text-decoration: none;
  color: var(--dark-gray);
}

.main-nav {
  display: none;
}

.main-nav__item a:hover,
.main-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a:active {
  color: var(--page-green);
}

.mobile-nav {
  grid-area: mobile-nav;
  display: none;
  justify-content: center;
  box-shadow: 2px 2px 2px 2px var(--light-gray);
}

.mobile-nav-open {
  display: flex;
}

.mobile-nav__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-nav__item {
  margin: 1rem 0;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Tablet View */
@media (min-width: 577px) {
  .mobile-nav {
    display: none;
  }

  .burguer-button {
    display: none;
  }

  .talos-button {
    margin-left: 3rem;
  }

  .main-nav {
    display: flex;
    width: 100%;
  }

  .main-nav__items {
    list-style: none;
    display: flex;
    margin-right: 3rem;
    margin-left: auto;
    padding: 0;
  }

  .main-nav__item {
    margin: 0 0.4rem;
    font-size: 0.9rem;
  }
}

/* Desktop View */
@media (min-width: 769px) {
  .talos-button {
    margin-left: 5rem;
  }

  .main-nav__items {
    margin-right: 5rem;
  }

  .main-nav__item {
    margin: 0 1rem;
    font-size: 1rem;
  }
}

.section-title {
  text-align: center;
  font-size: 2rem;
}

.section-subtitle {
  text-align: center;
  font-size: 1rem;
  color: var(--subtitle-gray);
}

/* CELPHONE 1REM, TABLET 3 REM, DESKTOP 5REM*/

/* SERVICES VIEW */
#what-we-do .section-title,
#what-we-do .section-subtitle {
  text-align: left;
  margin: 0 1rem;
}

.service-list {
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2rem;
  padding: 0;
  margin: 2rem;
}

.service-item {
  display: grid;
  grid-template-columns: auto auto;
}
.service-image {
  font-size: 2rem;
  padding: 0;
}

.service-title {
  margin: 0;
  padding: 1rem;
}

.service-description {
  grid-row-start: 2;
  grid-column-start: 2;
  margin: 0;
  padding: 1rem;
}

/* Tablet View */
@media (min-width: 577px) {
  .service-list {
    grid-template-columns: auto auto;
  }
}

/* Desktop View */
@media (min-width: 769px) {
  .main-nav {
    display: flex;
  }

  #welcome {
    height: 100vh;
  }

  /* s.service-list {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    padding: 0;
    margin: 2rem;
  } */
}

/* GENIUS STUDIO */
#genius-studio {
  background-color: var(--light-gray);
  display: grid;
  grid-template-rows: auto 50vw;
  grid-gap: 2rem;
  padding: 5rem 2rem;
}

#genius-studio .section-subtitle,
#genius-studio .section-title {
  text-align: left;
}

.genius-video {
  width: 100%;
  height: 100%;
}

/* Desktop View */
@media (min-width: 769px) {
  #genius-studio {
    grid-template-columns: minmax(auto, 50vw) auto;
    grid-template-rows: auto;
  }

  .genius-video {
    position: relative;
    width: 50vw;
    max-width: 500px;
    height: 100%;
  }
}

/* TEAM MEMBER */
#team-member {
  padding: 2rem;
}

#team-member ul {
  padding: 0;
}

.member-list {
  display: grid;
  list-style: none;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  grid-gap: 2rem;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-img {
  width: 100%;
  height: auto;
}

.member-job {
  margin: 0;
}

/* Tablet View */
@media (min-width: 577px) {
  .member-list {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
}

/* Desktop View */
@media (min-width: 769px) {
  .member-list {
    grid-template-columns: auto auto auto;
  }
}

/* LATEST WORK */
#latest-work {
  background-color: var(--light-gray);
  padding: 2rem;
}

.works {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: auto;
  grid-gap: 2rem;
}

.works img {
  width: 100%;
}

/* Tablet View */
@media (min-width: 577px) {
  .works {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
  }
}

/* Desktop View */
@media (min-width: 769px) {
  .works {
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(2, auto);
  }
}

/* OUR BLOG */
#our-blog {
  padding: 2rem;
}

.blog-list {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: auto;
  grid-gap: 2rem;
}

.blog-item {
  border: solid var(--light-gray) 2px;
  border-radius: 7px;
  padding: 2rem;
  color: var(--dark-gray);
}

.blog-item h1 {
  font-size: 2rem;
}

.blog-item h2,
.blog-item h3 {
  font-size: 1rem;
}

.blog-item h3 {
  color: grey;
}

/* Tablet View */
@media (min-width: 577px) {
  .blog-list {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto auto;
  }

  .blog-item-primary {
    grid-column: 1 / -1;
  }
}

/* Desktop View */
@media (min-width: 769px) {
  .blog-list {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto;
  }

  .blog-item {
    grid-column: 1 / 1;
  }
}

/* ASKED QUESTIONS */
/* Desktop View */
/* Tablet View */
@media (min-width: 577px) {
}

@media (min-width: 769px) {
}

/* TESTIMONIAL WORDS */
/* Desktop View */
/* Tablet View */
@media (min-width: 577px) {
}

@media (min-width: 769px) {
}

/* GET IN TOUCH */
#touch {
  padding: 2rem;
  background-color: var(--light-gray);
}

.touch-form {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-gap: 2rem;
}

.touch-form input {
  background: transparent;
  border: 2px solid gray;
  border-radius: 3px;
  padding: 1rem 1rem;
}

.touch-form textarea {
  background: transparent;
  border: 2px solid gray;
  border-radius: 3px;
  padding: 1rem 1rem;
  height: 10rem;
  font: inherit;
}

.touch-form button {
  background: var(--page-green);
  height: 3rem;
  color: white;
  border: 3px solid var(--page-green);
  border-radius: 3px;
}

/* Tablet View */
@media (min-width: 577px) {
  #touch {
    padding: 2rem 8rem;
    background-color: var(--light-gray);
  }

  .touch-form {
    display: grid;
    grid-template-areas:
      "name text"
      "email text"
      "phone text"
      "button button";
    grid-gap: 2rem;
  }
  .touch-form textarea {
    grid-area: text;
    height: 100%;
  }
  .touch-form button {
    grid-area: button;
    margin: 0 5rem;
  }
}

/* Desktop View */
@media (min-width: 769px) {
}

/* FOOTER */
footer {
  grid-area: footer;
  padding: 10px;
  box-shadow: 1rem 1rem 1rem 1rem rgba(168, 168, 168, 0.5);
  padding: 2rem;
  box-shadow: b;
}

footer h1 {
  font-size: 1rem;
  text-align: center;
  color: var(--dark-gray);
}
