.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
}

.blog-list {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-gap: 2rem;
}

.blog-item {
  padding: 2rem;
  border: 2px solid var(--border-gray);
  border-radius: 7px;
  background: var(--page-white);
  color: var(--dark-gray);
}

.blog-item:hover,
.blog-item:active {
  background: url(../images/hover-image.jpg) 0 0 / cover no-repeat;
  animation: up-down-movement-animation 20s linear infinite;
  color: var(--page-green);
}

@keyframes up-down-movement-animation {
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

.blog-item-comment {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

.blog-item-author,
.blog-item-date {
  font-size: 1rem;
  margin: 0;
  color: var(--dark-gray);
}

.blog-item-date {
  color: var(--subtitle-gray);
}

/* Tablet View */
@media (min-width: 577px) {
  .blog {
    padding: 3rem 3rem;
  }

  .blog-list {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }

  .blog-item-primary {
    grid-column: 1 / -1;
  }

  .blog-item:hover,
  .blog-item:active {
    animation: up-down-movement-animation 25s linear infinite;
  }

  .blog-item-comment {
    font-size: 1.5rem;
  }

  .blog-item-author,
  .blog-item-date {
    font-size: 0.8rem;
  }
}

/* Desktop View */
@media (min-width: 769px) {
  .blog {
    padding: 8rem 5rem;
  }

  .blog-list {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    max-width: 80rem;
  }

  .blog-item {
    padding: 4rem;
  }

  .blog-item:hover,
  .blog-item:active {
    animation: up-down-movement-animation 40s linear infinite;
  }

  .blog-item-primary {
    grid-area: auto;
  }

  .blog-item-comment {
    font-size: 2rem;
  }

  .blog-item-author,
  .blog-item-date {
    font-size: 1rem;
  }
}
