/* GENIUS STUDIO */
#genius-studio {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*grid-template-rows: auto 50vw;
  grid-gap: 2rem; */
  background-color: var(--light-gray);
}

#genius-studio .section-subtitle,
#genius-studio .section-title {
  text-align: left;
}

.genius-video {
  width: 100%;
  height: 20rem;
}

/* Tablet View */
@media (min-width: 577px) {
  #genius-studio {
    padding: 3rem 3rem;
  }
}

/* Desktop View */
@media (min-width: 769px) {
  #genius-studio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8rem 5rem;
  }

  #genius-studio p {
    max-width: 40rem;
    padding-right: 2rem;
  }

  .genius-video {
    width: 50vw;
    max-width: 40rem;
    height: 20rem;
  }
}
