@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --page-green: #65c7b7;
  --dark-orange: #be7c00;
  --orange: #ffa500;
  --dark-gray: #575656;
  --subtitle-gray: #817f7f;
  --border-gray: #ebebeb;
  --light-gray: #f8f8f8;
  --page-white: #ffffff;
  --opacity-white: #ffffff80;
  --page-black: #000000;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  height: 100%;
}

/* WELCOME */
.welcome {
  display: flex;
  flex-direction: column;
  background: url("../images/home-bg.jpg") center/cover no-repeat border-box;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
  transition: background 1s ease-out;
}

.welcome-title {
  display: block;
  margin: 0;
  margin-top: 3rem;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  color: var(--page-white);
}

.welcome-paragraph {
  display: block;
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--page-white);
}

.welcome-buttons {
  display: flex;
  margin: 3rem 0;
  justify-content: center;
  width: 100%;
}

.learn-button {
  cursor: pointer;
  text-decoration: none;
  padding: 1rem 2rem;
  border: solid var(--page-white) 2px;
  border-radius: 3px;
  background: transparent;
  color: var(--page-white);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.learn-button:hover {
  background: var(--page-white);
  color: var(--page-green);
}

.learn-button:focus,
.learn-button:active {
  border: solid var(--dark-orange) 2px;
  background: var(--orange);
  color: var(--page-white);
}

.contact-button {
  display: none;
}

/* Tablet View */
@media (min-width: 577px) {
  .welcome-title {
    margin-top: 5rem;
    font-size: 2rem;
  }

  .welcome-paragraph {
    padding: 0 5rem;
    font-size: 1rem;
  }

  .learn-button {
    margin: 0 0.5rem;
    padding: 0.5rem 2rem;
    font-size: 1rem;
  }

  .contact-button {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.5rem 2rem;
    border: solid var(--page-green) 2px;
    border-radius: 3px;
    background: var(--page-green);
    color: var(--page-white);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  .contact-button:hover {
    border: solid var(--page-white) 2px;
    background-color: var(--page-white);
    color: var(--page-green);
  }

  .contact-button:focus,
  .contact-button:active {
    border: solid var(--dark-orange) 2px;
    background-color: var(--orange);
    color: var(--page-white);
  }
}

/* Desktop View */
@media (min-width: 769px) {
  .welcome {
    height: 100vh;
  }

  .welcome-title {
    margin: 0;
    font-size: 4rem;
  }

  .welcome-paragraph {
    padding: 1rem;
    font-size: 1.5rem;
    min-width: auto;
    max-width: 60rem;
  }

  .learn-button {
    margin-top: 2rem;
    padding: 1rem 4rem;
    border: solid var(--page-white) 4px;
  }

  .learn-button:focus,
  .learn-button:active {
    border: solid var(--dark-orange) 4px;
  }

  .contact-button {
    margin-top: 2rem;
    padding: 1rem 4rem;
    border: solid var(--page-green) 4px;
  }

  .contact-button:hover {
    border: solid var(--page-white) 4px;
  }

  .contact-button:focus,
  .contact-button:active {
    border: solid var(--dark-orange) 4px;
  }
}

/* HEADER - NAV BAR */
.main-header {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  background: var(--page-white);
  box-shadow: 2px 2px 2px 2px var(--light-gray);
  width: 100%;
  z-index: 2;
}

.nav-bar {
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
}

.talos-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin-left: 1rem;
  padding-left: 0;
  background: transparent;
  color: var(--dark-gray);
  font-size: 2rem;
  font-weight: 700;
}

.talos-button:hover,
.talos-button:active {
  color: var(--page-green);
}

.burguer-button {
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 1rem;
  background: transparent;
  width: 2.5rem;
}

.burguer-button-bar {
  display: block;
  margin: 0.4rem 0;
  background: var(--page-green);
  width: 100%;
  height: 2px;
}

.mobile-nav {
  display: none;
  justify-content: center;
  box-shadow: 2px 2px 2px 2px var(--light-gray);
  width: 100%;
}

.mobile-nav-open {
  display: flex;
}

.mobile-nav-items {
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.mobile-nav-item {
  margin: 1rem 0;
  font-size: 0.9rem;
  font-weight: 700;
}

.main-nav-link,
.mobile-nav-link {
  text-decoration: none;
  color: var(--dark-gray);
}

.main-nav-link:hover,
.main-nav-link:active,
.mobile-nav-link:hover,
.mobile-nav-link:active {
  color: var(--page-green);
}

.nav-item-active {
  color: var(--page-green);
}

.main-nav {
  display: none;
}

/* Tablet View */
@media (min-width: 577px) {
  .mobile-nav {
    display: none;
  }

  .burguer-button {
    display: none;
  }

  .talos-button {
    margin-left: 3rem;
  }

  .main-nav {
    display: flex;
    width: 100%;
  }

  .main-nav-items {
    list-style: none;
    display: flex;
    margin-right: 3rem;
    margin-left: auto;
    padding: 0;
  }

  .main-nav-item {
    margin: 0 0.4rem;
    font-size: 0.9rem;
  }
}

/* Desktop View */
@media (min-width: 769px) {
  .nav-bar {
    max-width: 90rem;
  }

  .talos-button {
    margin-left: 5rem;
  }

  .main-nav-items {
    margin-right: 5rem;
  }

  .main-nav-item {
    margin: 0 1rem;
    font-size: 1rem;
  }
}

.section-title {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

.section-subtitle {
  padding-bottom: 2rem;
  color: var(--subtitle-gray);
  text-align: center;
  font-size: 1rem;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem;
}

.footer-message {
  color: var(--dark-gray);
  font-size: 1rem;
  text-align: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icon {
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.5rem;
  margin: 0.3rem;
  font-size: 1rem;
  background: var(--page-black);
  color: var(--page-white);
  width: 2rem;
  height: 2rem;
}

.footer-icon:hover,
.footer-icon:active {
  background: var(--page-green);
}

/* Desktop View */
@media (min-width: 769px) {
  footer p {
    font-size: 1.2rem;
  }

  .footer-icon {
    margin: 0.5rem;
    padding-top: 0.8rem;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
  }
}
