@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --page-green: #65c7b7;
  --dark-orange: #be7c00;
  --orange: #ffa500;
  --dark-gray: #575656;
  --subtitle-gray: #817f7f;
  --border-gray: #ebebeb;
  --light-gray: #f8f8f8;
  --page-white: #ffffff;
  --opacity-white: #ffffff80;
  --page-black: #000000;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  height: 100%;
}
