/* LATEST WORK */
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  background-color: var(--light-gray);
}

.work-list {
  display: grid;
  list-style: none;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: auto;
  grid-gap: 2rem;
  padding: 0;
}

.work-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-box {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  height: 100%;
}

.work-image {
  width: 100%;
  height: 100%;
}

.work-modal {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--page-green);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.work-modal-open {
  opacity: 0.9;
}

.work-modal-button {
  outline: none;
  cursor: pointer;
  padding: 2rem;
  border-radius: 50%;
  border: var(--page-white);
  background: var(--page-white);
  font-size: 2rem;
  font-weight: 700;
  color: var(--page-green);
  transform: rotateY(180deg);
}

.work-modal-title {
  margin-bottom: 1rem;
  padding: 0 1rem;
  color: var(--page-white);
  font-size: 2.5rem;
}

.work-modal-subtitle {
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  color: var(--page-white);
  font-weight: 700;
  font-size: 1.5rem;
}

/* Tablet View */
@media (min-width: 577px) {
  .portfolio {
    padding: 3rem 3rem;
  }

  .work-list {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
  }

  .work-modal-button {
    font-size: 1rem;
    padding: 1rem;
  }

  .work-modal-title {
    font-size: 1.5rem;
  }

  .work-modal-subtitle {
    font-size: 1rem;
  }
}

/* Desktop View */
@media (min-width: 769px) {
  .portfolio {
    padding: 8rem 5rem;
  }

  .work-list {
    max-width: 80rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(2, auto);
  }

  .work-modal-button {
    font-size: 2rem;
    padding: 2rem;
  }

  .work-modal-title {
    font-size: 2.5rem;
  }

  .work-modal-subtitle {
    font-size: 1.5rem;
  }
}
